<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>This is a sample page</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body	{ padding-top: 50px; }
	</style>
</head>
<body class='container'>
	<main>
		<h1>This is an index page</h1>
	</main>
</body>