<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="UTF-8">
	<title>This is a sample page</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body	{ padding-top: 50px; }
	</style>
	<script src='/node_modules/cloudinary/js/jquery.cloudinary.js' type='text/javascript'></script>
</head>
<body class='container'>
	<div>
		<img src="http://res.cloudinary.com/drkkz1r25/image/upload/c_scale,h_150/v1457163913/sample_image.jpg" alt="something">
		<h4> This is a sample image</h4>
	</div>
</body>